<a href="https://colab.research.google.com/github/kishen0403/Individual-codes_214527/blob/main/MyFirstPythonProgram_214527.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sairam. I will be starting my first program Keyword Syntax Error/Mistakes Debugging

In [ ]:
print("sairam")
print("sai")
a=45
print(a)

sairam
sai
45

In [ ]:
print('Sai ram')
print("Hello,214527")

Sai ram
Hello,214527

In [ ]:
#type 25
type("hello,python 101")

str

In [ ]:
print("hello,world")
if 6 > 3 :
  print("six is greater than three")

hello,world
six is greater than three

In [ ]:
a=type(55)
print(a)
type(5.2)

<class 'int'>

float

In [ ]:
int(2.5)

2

In [ ]:
str(1)

'1'

In [ ]:
bool(1)

True

In [20]:
s= 17//5
print("coefficient is",s)

coefficient is 3

In [22]:
a = 3%2
print (a)

1

In [ ]:
name = " Earth revolves around the sun "
print (name [6:15])

 revolves

In [ ]:
name [-4:-1]

'sun'

In [ ]:
name1 = "I love eating"
name2 = " veggies "
name3 = " fruits"
print (name1 + name2 + "and" + name3)

I love eating veggies and fruits

In [ ]:
num = " 4 "
print (name1 + num + name3 + " everday")

I love eating 4  fruits everday

In [32]:
name = "SaiKishen"
print (name[4])

i

In [24]:
print(name[-3])

h

In [25]:
name[0:5]

'SaiKi'

In [27]:
len ('SaiKishen')

9

In [31]:
name [0:4:1]

'SaiK'

In [ ]:
p=float(input("enter p"))
t=float(input("enter t"))
r=float(input("enter r"))
SI=p*t*r/100
print(SI)

enter p5
enter t5
enter r5
1.25

Principal and interests codes

In [2]:
# The calculates the rate of interest
# a = p + si 
# a = p + (prt/100)
# a - p = prt/100
p = float(input('P = '))
a = float(input('A = ')) 
t = float(input('T = ')) 
r = ((a - p) * 100) / (p * t)
print(r)

P = 4
A = 10
T = 50
3.0

In [3]:
r = float(input('R = ')) 
t1 = float(input('Larger Time = ')) 
t2 = float(input('Shorter Time = ')) 
dif = float(input('Difference between interests : '))

si1 = (p*r*t1)/100
si2 = (p*r*t2)/100
# calculation of the formula
#dif = si1 - si2
#dif = (p*r*t1)/100 - (p*r*t2)/100
#dif = pr/100 (t1 - t2)
p = (dif / r * (t1 - t2)) * 100
print(p)

R = 10
Larger Time = 7
Shorter Time = 6
Difference between interests : 650
6500.0

In [4]:
# The first pair of rate and time
r1 = float(input('R1 = '))
t1 = float(input('T1 = '))

# The second pair of rate and time

r2 = float(input('R2 = '))  
t2 = float(input('T2 = ')) 
dif = float(input('Difference between interests '))

#si = prt/100
#diff = si1 - si2
#dif = p*r1*t1/100  - p*r2*t2/100
t1 = t1/12
t2 = t2/12

p = (dif * 100) / (r1*t1 - r2*t2)
print(p)

R1 = 4
T1 = 13
R2 = 6
T2 = 8
Difference between interests 40
12000.000000000011

In [5]:
5 // (4 + 5) % 4

0

In [6]:
2 * (3 + 9) / 5

4.8

In [7]:
2 ** (3 * 3)

512

In [8]:
2 * 3 + 9 / 5

7.8

In [9]:
-1>0

False

In [10]:
#AND operator=TRUE and TRUE will become TRUE, all others FALSE
#OR operator=FALSE and FALSE will become FALSE,all others TRUE
A=True
B=False
A or B

True

Leap year code

In [16]:
a=float(input('Enter the year\n'))
if (a % 4 == 0):
  print('The year is leap year')
else:
  print('The year is not a leap year')

Enter the year
2004
The year is leap year

In [33]:
a=float(input("Enter your score\n"))
if(a>=80):
    print("A")
elif(a>=40 and a<=80):
          print("B")
else:
   print('F')

Enter your score
50
B

In [13]:
x=5
y=5
if x == y :
  print('Both numbers are equal')
elif (x>y): 
      print('The first number is greater than the second one')
else:
        print("The second number is greater than the first one")

Both numbers are equal

Area of Triangle

In [14]:
b = 75
h =45
area = 1/2*b*h
print (area)

1687.5

Loops

In [34]:
i = 1
while i < 11:
  print(i)
  i += 0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0
10.5

In [35]:
#Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [36]:
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [37]:
number = int(input("Enter a number: "))

count = 1

while count <= 10:
    product = number * count
    print(number, "x", count, "=", product)
    count = count + 1

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Lists

In [42]:
kishen_list = ['d','r','a','m','a']
print(kishen_list[-1])
print(kishen_list[-5])

a
d

In [43]:
kishen_list = ['d', 'r', 'a', 'm', 'a']
print(kishen_list[0])  
print(kishen_list[2])  
print(kishen_list[4])

d
a
a

In [44]:
kishen_list = ['t','e','x','t','b','o','o','k','s']
print(kishen_list[2:5])

['x', 't', 'b']

In [45]:
print(kishen_list[:-5])

['t', 'e', 'x', 't']

In [46]:
print(kishen_list[:])

['t', 'e', 'x', 't', 'b', 'o', 'o', 'k', 's']

removing elements from list

In [69]:
kishen_list = ['t','e','x','t','b','o','o','k','s']
kishen_list.remove('b')
print(kishen_list)

['t', 'e', 'x', 't', 'o', 'o', 'k', 's']

deleting items from dictionary

In [50]:
kishen_list = ['t','e','x','t','b','o','o','k','s']
del kishen_list[2]
print(kishen_list)

['t', 'e', 't', 'b', 'o', 'o', 'k', 's']

Dictionaries

In [51]:
dict = {}

creation of dictionary

In [53]:
dict={1: 'apple', 2: 'ball'}
print(dict)

{1: 'apple', 2: 'ball'}

Extract values from dictionary

In [54]:
print(dict[1])

apple

In [64]:
print(dict[2])

ball

Add item

In [56]:
dict[3] = 'Dog'
print(dict)

{1: 'apple', 2: 'ball', 3: 'Dog'}

Remove item and extract only value

In [60]:
print(dict.pop(1))

apple

iterating through dictionary

In [62]:
dict={1: 'apple', 2: 'ball', 3: 'Dog'}
for i in dict:
    print(dict[i])

apple
ball
Dog

Clear dictionary

In [67]:
dict.clear()
print(dict)

{}

Tuples

In [17]:
tup=(1,2,3,4,[1,2,3],6)
list(enumerate(tup))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, [1, 2, 3]), (5, 6)]

In [18]:
t = ('S','A','I','R','A','M')
s = ""
for i in t[:3]:
    s += i
s += " "
for i in t[3:]:
    s += i
print(s)

SAI RAM

In [19]:
t = ('S','A','I','R','A','M')
s = ""
for i in t[:3]:
    s += i
s += " "
print(s)

SAI